@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/customizing-colors#using-css-variable */
@layer base {
  :root {    
    --title-primary: 255 255 255; /* #FFFFFF */
    --text-primary: 229 233 240; /* #E5E9F0 */
    --text-secondary:  103 130 158; /* #67829E */

    --base-lines: 30 45 61; /* #1E2D3D */

    --gradient-blue: 77 91 206; /* #4D5BCE */
    --gradient-green: 67 217 173; /* #43D9AD */ 

    --auxiliary-green: 60 157 147; /* #3C9D93 */
    --auxiliary-blue: 77 91 206; /* #4D5BCE */

    --accent-orange: 254 165 95; /* #FEA55F */
    --accent-green: 67 217 173; /* #43D9AD */
    --accent-red: 233 146 135; /* #E99287 */
    --accent-violet: 201 139 223; /* #C98BDF */

    --shape-primary: 1 18 33; /* #011221 */ 
    --shape-secondary: 1 8 14; /* #01080E */
    --base-background: 1 22 39; /* #011627 */
  }
}

* {
  outline: none;
}

body {
  font-size: theme(fontSize.base);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 160%;
  color: theme(colors.text-primary);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-color: theme(colors.base-background);
}

::selection {
  color: theme(colors.base-background); 
  background-color: theme(colors.accent-green);
}

:focus {
  border-radius: theme(borderRadius.sm);
  box-shadow: 0 0 0 1px theme(colors.accent-green);
}

::-webkit-scrollbar {
  width: theme(borderWidth.2);
  height: theme(borderWidth.2);
  background-color: theme(colors.shape-primary);
}
  
::-webkit-scrollbar-thumb {
  border-radius: theme(borderRadius.2xl);
  background-color: theme(colors.base-lines);
}

header div nav  a.active {
  @apply border-b-accent-orange text-title-primary
}

.container,
.container-screen {
  @apply flex-1 max-w-7xl mx-auto px-4
}

.container-screen {
  @apply pt-28 sm:pt-16 pb-4
}
