@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/customizing-colors#using-css-variable */
@layer base {
  :root {    
    --title-primary: 255 255 255; /* #FFFFFF */
    --text-primary:  103 130 158; /* #67829E */
    --text-accent: 229 233 240; /* #E5E9F0 */

    --base-lines: 30 45 61; /* #1E2D3D */

    --gradient-blue: 77 91 206; /* #4D5BCE */
    --gradient-green: 67 217 173; /* #43D9AD */ 

    --auxiliary-green: 60 157 147; /* #3C9D93 */
    --auxiliary-blue: 77 91 206; /* #4D5BCE */

    --accent-orange: 254 165 95; /* #FEA55F */
    --accent-green: 67 217 173; /* #43D9AD */
    --accent-red: 233 146 135; /* #E99287 */
    --accent-violet: 201 139 223; /* #C98BDF */

    --shape-primary: 1 18 33; /* #011221 */ 
    --shape-secondary: 1 8 14; /* #01080E */
    --base-background: 1 22 39; /* #011627 */
  }
}

* {
  outline: none;
}

body {
  @apply font-sans font-normal text-text-primary antialiased 
  scroll-smooth bg-base-background 
}

::selection {
  @apply text-base-background bg-accent-orange
}

:focus {
  @apply rounded-sm shadow-[0_0_0_1px] shadow-accent-orange
}

::-webkit-scrollbar {
  @apply w-[2px] h-[2px] bg-shape-primary
}
  
::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-base-lines
}

/* Utility classes */

header div nav  a.active {
  @apply border-b-accent-orange text-title-primary
}

.container,
.container-screen {
  @apply flex-1 max-w-5xl mx-auto px-4
}

.container-screen {
  @apply pt-28 sm:pt-16 pb-4 relative
}

.section {
  @apply w-full flex flex-col gap-4 text-text-primary
}

.title {
  @apply text-3xl font-medium text-title-primary
}

.subtitle {
  @apply text-2xl font-medium text-text-accent
}

.link {
  @apply cursor-pointer text-gradient-green relative pb-[1px] mx-[0.5ch]
  hover:text-text-accent before:content-[''] before:absolute 
  before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 
  before:bg-gradient-green before:hover:scale-x-100 
  before:scale-x-0 before:origin-top-left 
  before:transition before:ease-in-out before:duration-200
}